*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

nav ul{
    width: 100vw;
    position: absolute;
    top: 0;
    background: #123123;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

nav ul li:first-child{
    margin-right: auto;
}

nav ul li a{
    font-size: 18px;
    color: #fffcf8;
    font-weight: 700;
    padding: 5px 0;
    position: relative;
    transition: all 0.5s;
    letter-spacing: 2px;
}

nav ul li a::after{
    content: "";
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: transparent;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
    background: #ff9604;
}

nav ul li a:hover{
    color: #ff9604;
}




section{
    display: none;
    margin-top: 4%;
    padding: 20px 4%;
    background-color: #080808;
    color: #fffcf8;
    min-height: 90vh;
}

section h1{
    text-align: center;
    padding: 20px;
    font-size: 60px;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke: 2px #ff9604;
}

section p{
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
}

#home{
    display: block;
}

#skills{
    background: #ff960477;
    color: #080808;
}

#about{
    background: #fffcf8;
    color: #123123;
}

#contact{

    background: #ff960477;
    color: #fffcf8;
}

footer{
    background: #123123;
    color: #fffcf8;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 20px 4%;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.logo{
    display: none;
    padding: 20px;
    background: #123123;
    position: relative;
}

.logo a{
    font-size: 30px;
    color: #ff9604;
}

.bars{
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.5s;
}
.bars img{
    width: 35px;
}

.bars:hover img{
    border-radius: 3px;
    transform: scale(1.1);
    background: #6f6f6f55;
}



@media screen and (max-width: 550px){
    .navbar{
        display: none;
    }

    .logo{
        display: block;
    }

    .sidebar{
        display: block;
        width: 200px;
        position: absolute;
        top: 10px;
        right: 10px;
        background: #123123;
        padding: 0;
        border-radius: 3px;
        transition: 0.5s;
    }

    .sidebar:hover{
        box-shadow: 0 0 10px #00ff0035, 0 0 20px #00ff0035, 0 0 30px #00ff0035;
    }

    .sidebar li:first-child a{
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }



    .sidebar li a{
        display: block;
        padding: 20px 20px;
        font-size: 20px;
    }

    .sidebar li a:hover{
        color: #ff9604;
        background: #6f6f6f55;
    }


    .sidebar li a::after{
        display: none;
    }

    .close{
        display: block;
        width: 40px;
        margin: 20px;
    }

    .close img{
        width: 35px;
    }

    .close:hover img{
        border-radius: 3px;
        transform: scale(1.1);
        background: #6f6f6f45;
    }

    .bars{
        display: flex;
    }

    section{
        margin-top: 0%;
    }

    ::-webkit-scrollbar {
        width: 15px;
      }
      
      ::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      
      ::-webkit-scrollbar-thumb {
        background: #00ff0075;
        border-radius: 5px;
      }
      
}





